.loginsignup{
    width: 100%;
    height: 90vh;
    background-color:#F5F5DC;
    padding-top: 50px;
}
.loginsignup-container{
    width: 580px;
    height: 600px;
    background: white;
    margin: auto;
    padding: 40px 60px;
}
.loginsignup-container h1{
    margin: 8px 0px 20px 0;
}
.loginsignup-fields{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 25px;
}
.loginsignup-fields input{
    height: 65px;
    width: 100%;
    padding-left: 20px;
    border: 1px solid #c9c9c9;
    outline: none;
    color: #5c5c5c;
    font-size: 18px;
}
.loginsignup-container button{
    width: 100%;
    height: 65px;
    color: white;
    background: #ff4141;
    margin-top: 20px;
    border: none;
    font-size: 24px;
    font-weight: 400;
    cursor: pointer;
}
.loginsignup-login{
    margin-top: 20px;
    color: #5c5c5c;
    font-size: 18px;
    font-weight: 500;
}
.loginsignup-login span{
    color: #ff4141;
    font-weight: 600;
    cursor: pointer;
}
.loginsignup-agree{
    display: flex;
    align-items: center;
    margin-top: 25px;
    gap: 20px;
    color: #5c5c5c;
    font-size: 18px;
    font-weight: 500;
}


/* Responsive styles for screens with max-width of 1280px */
@media (max-width: 1280px) {
    .loginsignup-container {
        width: 500px;
        padding: 30px 50px;
    }

    .loginsignup-fields input {
        height: 60px;
        font-size: 16px;
    }

    .loginsignup-container button {
        font-size: 22px;
    }
}

/* Responsive styles for screens with max-width of 1024px */
@media (max-width: 1024px) {
    .loginsignup-container {
        width: 450px;
        padding: 20px 40px;
    }

    .loginsignup-fields input {
        height: 55px;
        font-size: 16px;
    }

    .loginsignup-container button {
        font-size: 20px;
    }
}

/* Responsive styles for screens with max-width of 800px */
@media (max-width: 800px) {
    .loginsignup-container {
        width: 380px;
        padding: 20px 30px;
    }

    .loginsignup-fields input {
        height: 50px;
        font-size: 15px;
    }

    .loginsignup-container button {
        height: 60px;
        font-size: 18px;
    }
}

/* Responsive styles for screens with max-width of 500px */
@media (max-width: 500px) {
    .loginsignup{
        margin-bottom: 90px;
    }
    .loginsignup-container {
        width: 90%;
        padding: 20px 20px 0 20px;
        height: 450px;
    }
    .loginsignup-container h1{
        font-size: 1.5rem;
    }

    .loginsignup-fields input {
        height: 35px;
        font-size: 12px;
    }

    .loginsignup-container button {
        height: 35px;
        font-size: 14px;
    }

    .loginsignup-login {
        font-size: 12px;
    }

    .loginsignup-agree {
        font-size: 14px;
    }
}