.sidebar{
    display: flex;
    flex-direction: column;
    margin-top: 1px;
    padding-top: 40px;
    gap: 20px;
    width: 100%;
    max-width: 250px;
    height: 100vh;
    background-color:white;
}

.sidebar-item{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f6f6f6;
    gap: 10px;
    margin: 0 20px;
    padding: 5px 10px;
    border-radius: 7px;
    cursor: pointer;
}

@media(max-width:800px){
    .sidebar{
        flex-direction: row;
        width: 100%;
        max-width: none;
        padding: 20px 0;
        justify-content: center;
        height: auto;   
    }
}